/* ------  media-query ---------- */
$screen-xxs-max : 575px;
$screen-xs-max : 767px;
$screen-sm-min : 768px;
$screen-sm-max : 991px;
$screen-md-min : 992px;
$screen-md-max : 1199px;
$screen-lg-min : 1200px;
$screen-xxl-min : 1400px;

@mixin xxlarge-width {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin large-to-x-large {
  @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin large-width {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin upto-x-large {
  @media (max-width: #{$screen-xxl-min}) {
    @content;
  }
}

@mixin upto-large {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}


@mixin upto-small {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin upto-x-small {
  @media (max-width: #{$screen-xxs-max}) {
    @content;
  }
}

@mixin upto-desktop {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

/* ------box-shadow opacity ------------*/

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
@if $inset {
-webkit-box-shadow:inset $left $top $blur $color;
-moz-box-shadow:inset $left $top $blur $color;
box-shadow:inset $left $top $blur $color;
} @else {
-webkit-box-shadow: $left $top $blur $color;
-moz-box-shadow: $left $top $blur $color;
box-shadow: $left $top $blur $color;
}
}


/* ------Cross browser opacity ------------*/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
/* ----.faded-text {
  @include opacity(0.8);
}
*/


/*----------Quick Gradients------------*/

@mixin background-gradient($start-color, $end-color, $orientation) { 
    background: $start-color;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $start-color, $end-color);
      background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $start-color, $end-color);
      background: linear-gradient(to right, $start-color, $end-color);
    } @else {
      background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
      background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}
/* ----- 
.foo {
  @include background-gradient(red, black, 'vertical');
}
------*/


/*-------Font Sizes ---------*/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* --- p {
  @include font-size(14px)
}
-----*/

/*-------Clearfix -------*/

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*------- Centering Elements -------*/

@mixin center($position) {
  position: absolute;
  
  @if $position == 'vertical' {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @else if $position == 'horizontal' {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  }
  @else if $position == 'both' {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}


/*------.foo {
  @include center(both);
}
*/

/*------- padding/margin -------*/

$spaceamounts: (5, 10, 15, 20, 25, 30,35,40,45,50,55,60,65,70,75,80,85,90,95,100);
$sides: (top, bottom, left, right, all);

@each $space in $spaceamounts {
  @each $side in $sides {

    @if $side == 'all' {
      .m#{$space} {
        margin: #{$space}px !important;
      }

      .p#{$space} {
        padding: #{$space}px !important;
      }
    } @else {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$side}: #{$space}px !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$side}: #{$space}px !important;
      }
    }
  }
}
ul,li{ margin:0; padding:0; list-style:none;}

.form-control:focus{
box-shadow:none !important;
border-color:#d8d8d8 !important;
}
a:hover, a:focus {text-decoration:none;}

$primary:#333;
$orangecl:#ff5823;
$whcl:#fff;
$blcl:#000;
$inputcl : #ebebeb;
$darkorange : #E25527;


.inputbg  { background:$inputcl;} 
.inputtext  { color:$inputcl;} 

.primarytext{ color:$primary; &:hover{ color:$primary; }  }
.primarybg{ background:$primary;}

.orangetext{ color:$orangecl; &:hover{ color:$orangecl; }  }
.orangebg{ background:$orangecl;}
.whtext{ color:$whcl;}
.whbg{ background:$whcl;}
.bltext{ color:$blcl;}
.blbg{ background:$blcl;}








